*{
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%
}

.container{
  width:80%;
  margin:auto;
  padding: 40px 0;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 127px;
}

.menu__item{
  font: 500 14px/26px "Roboto", arial, helvetica, sans-serif;
  text-decoration: none; 
  margin-right: 24px;
  font-style: normal;
  color: #000000;
}

.menu__item_active:hover{
  border-bottom: solid 2px #0056EC;;
}

.menu__item:nth-child(5){
  margin-right: 0;
}

.logo{
  font: bold 24px/32px "PT Serif", arial, helvetica, sans-serif;
  position: relative;
  padding-left: 44px;
}

.logo__circle{
  opacity: .7;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  top:0;
  left:0;
}

.logo__dark-circle{
  background:#0056EC;
}

.logo__light-circle{
  background: #C8DBFB;
  top:7px;
  left:8px;
}

.main-content__headline{
  font: bold 50px/66px "PT Serif",arial, helvetica, sans-serif ;
  font-style: normal;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 17px;
}

.main-content__headline span{
  background-color:#ECF3FF;
}

.main-content__discription{
  font: 500 18px/21px "Roboto", arial, helvetica, sans-serif;
  font-style: normal;
  color: #000000;
  margin-bottom: 41px;
}

.main-content__btn{
  font: 500 14px/16px "Roboto", arial, helvetica, sans-serif;
  background: #0056EC;
  border-radius: 4px;
  font-style: normal;
  color: #FFFFFF;
  width: 209px;
  height: 44px;
  border: none;
  margin-bottom:147px;
}

.main-bottom{
  display: flex;
  justify-content: center;

}

.main-bottom__item{
  width: 8px;
  height: 8px;
  margin-right: 4px;
}

.main-article{
  display: flex;
  justify-content: space-between;
}